*{
    margin:0px;
    padding: 0px;
    font-family: 'Pixelify Sans';
}
body{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    figure{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        figcaption{
            margin-top: 30px;
        }
    }
}